@media (max-width: 575px) {
    .progres {
        display: none !important;
    }
    .name {
        display: none;
    }
}

@media (max-width: 520px) {
    .logo img {
        width: 135px !important;
    }
}

@media (max-width:991px) {
    .social {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
    }
    .social p {
        padding: 0 1.2rem;
    }
}

@media (min-width: 1440px) {
    .container-fluid {
        max-width: 1470px;
    }
}